<%= form_for @image, :html => { :multipart => true } do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tag_names %><br />
    <%= f.text_field :tag_names %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
 <%# if params[:action] == 'new' or 'edit' %>
 <%# if %w{new create}.include? params[:action] %>
  <div class="field">
    <%= f.label :img %><br />
    <%= f.file_field :img if %w{new create}.include? params[:action] %>
    <%= f.hidden_field :img_cache %>
    <span>
      <%= image_tag(@image.img_url(:thumb)) if @image.img? %>
    </span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
