<p id="notice"><%= notice %></p>
<h1>Listing images</h1>

<div id="paginator_top">
<%= paginate @images, :remote => true %>
</div>

<table>
<thead>
  <tr>
    <th>gen</th>
    <th>Description</th>
    <th>Tags</th>
    <th>gen</th>
    <th>gen</th>
    <th>gen</th>
  </tr>
</thead>
<tbody id="images_t">
<%= render @images %>
</tbody>
</table>

<div id="paginator_bot">
<%= paginate @images, :remote => true %>
</div>
<br />

<%= link_to 'New Image', new_image_path %>
<%= button_to "Import", :action => :import %>
