<p id="notice"><%= notice %></p>
<h1>Listing images</h1>

<%= will_paginate %>
<table>
  <tr>
    <th></th>
    <th>Description</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= link_to image_tag(image.img.url(:thumb)), image_path(image, :tag => params[:tag]) %></td>
    <td><%= image.description %></td>
    <td><%= image.tag_names %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>
<br />

<%= link_to 'New Image', new_image_path %>
<%= button_to "Import", :action => :import %>
